langchain==0.0.101
torch==2.4.1
torchvision==0.19.1
gradio==3.20.1
diffusers==0.32.2
transformers==4.46.3
accelerate
addict
albumentations
basicsr
controlnet-aux
einops
imageio
imageio-ffmpeg
invisible-watermark
kornia
numpy
omegaconf
open_clip_torch
openai
opencv-python
prettytable
safetensors
streamlit
test-tube
timm
torchmetrics
webdataset
yapf